body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    font-size: 1.4em;
}

.contenedor {
    padding: 0 30px;
}

.barra_de_menu,
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    background: #ffffff;
}

.logo-img {
    display: flex;

    align-items: center;
    margin: 2px 0px;
    max-height: 100px;
    padding: 20px 0;
}
.logo-img a{
    max-width: 100%;
    height: 100%;
    display: flex;
    
}
.logo-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

ul.menu {
    padding: 0;
}

.menu li {
    margin: 0px 5px 4px;
}

.opciones_menu {
    display: flex;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: black;
    padding: 6px;

}

.active,
.menu li a:hover {
    color: #ffbc4b !important;
}

.hero {
    width: 100%;
    height: 300px;
    background-size: cover;
    
    text-align: left;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.hero-index{
    background-image: url("../images/fondo-hero.jpg");
    justify-content: center;
}
.hero-urgencias {
    background-image: url("../images/fondo-hero-urgencias.jpg");
    justify-content: center;
    }
.hero-servicios {
    background-image: url("../images/fondo-hero-urgencias.jpg");
    justify-content: center;
        }
.hero-personal {
    background-image: url("../images/fondo-hero-urgencias.jpg");
    justify-content: center;
        }
.hero-contacto {
    background-image: url("../images/fondo-hero-urgencias.jpg");
    justify-content: center;
        }
.hero-pacientes {
    background-image: url("../images/fondo-hero-urgencias.jpg");
    justify-content: center;
        }


.hero h3 {
    color: rgb(0, 0, 0);
    font-size: 2em;
    margin: 0px;
}

.column {
    float: left;
    width: 31.3333%;
    flex: 33.33%;
    padding: 1%;
    background-color: #1ca2bb;
}

.column-2 {
    float: left;
    width: 48%;
    flex: 33.33%;
    padding: 1%;
    background-color: #1ca2bb;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    display: flex;
}

.split-texto {
    padding: 100px 30px;
    line-height: 1.8em;
    display: flex;
    align-items: center;
}
.split-texto img{
    min-width: 30%;
    padding-right: 20px;
    object-fit: contain;

}

.split-texto p{
    box-sizing: content-box;
    
}

.image-grid {
    display: grid;
}
.nuestros-pacientes {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.creacion-texto {
    padding: 40px 20%;
}


/* Servicios */

.servicios-contenido{
    display: flex;
}
.servicios-contenido img{
    width: 30%;
    padding-right: 20px;
    object-fit: contain;
    object-position: top;
    margin-top: 28px;
    
}

.servicios-contenido p, .servicios-contenido h2{
    padding: 0;
}

.servicios-contenido:not(:last-child){
    padding-bottom: 50px;
}

.laboratorio {
    background-color: #ffbc4b;
}

/* personal */

.nuestro-equipo{
    display: flex;
    flex-direction: column;
}

.nuestro-equipo .card-grid{
    max-width: 80%;
    align-self: center;
}

.card-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 270px;
    box-shadow: 0 0 11px #00000022;
}

.card:hover{
    box-shadow: 0 0 11px #00000080;
}

.card h4, .card p{
    margin: 20px;
}
.card img{
    width: 100%;
    object-fit: cover;
}


.nuestros-valores {
    background-color: #ffbc4b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.nuestros-valores .fila{
    display: flex;
    max-width: 800px;
}

/* urgencias */

.urgencia-stats {
    background-color: #ffdd95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.urgencia-stats .fila{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    width: 100%;
}

.urgencia-stats .columna h4{
    font-size: 2em;
    margin: 1em;
    box-sizing: content-box;
}

/* Contacto */

.mitad {
    display: flex;
    gap: 20px;
}

.mitad * {
    width: 50%;
}

.introduccion {
    display: flex;

}

.form-register *{
    box-sizing: border-box;
}
.subtitulo{
    margin-right: 30px;
    margin-top: 50px;
    margin: auto;
    padding-right: 350px;
    padding-top: 150px;
}

/* Footer */

.logof {
    height: 3cm;
}
.piedepagina {
    width: 100%;
    background-color: #ffdd95;
}
.piedepagina .ar1 {
    width: 100%;
    max-width:1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 20px 0px;
}
.piedepagina .ar1 .box figure {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.piedepagina .ar1 .box h2{
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
    font-size: 14px;
}
.piedepagina .ar1 .box p{
    color: #000000;
    margin-bottom: 10px;
}
.piedepagina .ar1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 30px;
    color: white;
    margin-right: 10px;
    background-color: #ffbc4b;
    text-align: center;
    transition: all 300ms ease;
}
.piedepagina .ar1 .red-social a:hover {
    color: rgb(123, 80, 0);
}
.piedepagina .ar2 {
    background-color: #ffbc4b;
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.piedepagina .ar2 small{
    font-size: 12px;
}
.box p{
    font-size: 12px;
}
.texto_intro_urgencias{
    padding: 80px 30px;
    line-height: 1.8em;
}

.gif{
    width: 60%;
    
} 
.parrafo-introductorio{
    max-width: 40%;
}

.gif_contactos {
    object-fit: contain;
}

.gif_contactos{
    width: 60%;
}
.subtitulo{
    margin-top: 50px;
    float: right;
    text-align: center;
    margin: 30px;
}
    
.formulario {
    width: 1000px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    height: 95%
}

.form-register{
    width: 400px;
    margin-top: 800px;

}
.controls{
    width: 100%;
    background: rgb(233, 232, 232);
    padding: 10px;
    border-radius: 6px;
    margin-bottom : 16px;
    border: solid 
    grey 1px
}
.bottons{
    border-radius: 6px;
    width: 100%;
    padding: 10px;
    border: grey;
}
.mapa{
    text-align: center;
}
.intro_p_personal{
    text-align: center;
    margin: auto;
}
.informacion_final{
    text-align: center;
}
